<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>競拍</title>
</head>
<body>
    <h1> {{ .itemID }}的拍賣 </h1>
    <!-- 輸入欄位 -->
    <div>
        <label for="input1">使用者名稱:</label>
        <input type="text" id="input1">
    </div>
    <div>
        <label for="input2">金額:</label>
        <input type="number" id="input2">
    </div>

    <!-- 顯示欄位 -->
    <div>
        <h3>最高出價:</h3>
        <p id="display1">Waiting for updates...</p>
    </div>
    <div>
        <h3>出價人:</h3>
        <p id="display2">Waiting for updates...</p>
    </div>

    <!-- 按鈕 -->
    <button id="submitButton">出價</button>

    <script>
        // 初始化 SSE 連線
        const eventSource = new EventSource('/bid/item/{{ .itemID }}/info');

        // 當收到SSE訊息時，更新顯示欄位
        eventSource.addEventListener("message", function(event) {
            const data = JSON.parse(event.data);
            document.getElementById('display1').textContent = data.bid;
            document.getElementById('display2').textContent = data.bidder;
        });

        eventSource.addEventListener("error", function(event) {
            const data = JSON.parse(event.data);
            console.log("競拍資料異常:"+data.detail);
        });

        // 按鈕點擊事件
        document.getElementById('submitButton').addEventListener('click', function() {
            const input1 = document.getElementById('input1').value;
            const input2 = Number(document.getElementById('input2').value);

            // 將輸入資料封裝成JSON
            const requestData = {
                bid: input2,
                bidder: input1
            };

            // 透過POST方法提交資料
            fetch('/bid/item/{{ .itemID }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
            .then(response => {
                // 清空input2欄位，但保留input1欄位
                document.getElementById('input2').value = '';
                
                if (!response.ok) {
                    response.json().then(json => {
                        alert("出價失敗:"+json.detail)
                    })
                }else{
                    alert("出價成功")
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
